{% extends "blog/base.html" %}

{% block content %}
                <div><h6>{{ comment.author.username }} commented...</h6></div>
                <div><h4>{{ comment.content }}</h4></div>
                <div> <h6> commented {{ comment.created_at }}</h6></div>
                <div> <h6> updated {{ comment.updated_at }}</h6></div>
        {% if user == comment.author %}
            <div><a href="{% url "comment_update" comment.pk %}" ><button>edit</button></a>
            <a href="{% url "comment_delete" comment.pk %}" ><button>Delete</button></a></div>
        {% endif %}
{% endblock content %}
