{% extends "blog/base.html" %}

{% block content %}
    <form method="get" action="{% url 'search_posts' %}">
        <input type="text" name="q" placeholder="Search posts...">
        <button type="submit">Search</button>
    </form>
    {% for post in posts %}
        <p> <a href="{% url "post_detail" post.pk %}" >{{ post.title}}</a> by {{ post.author}} </p>
        <div> {{ post.content}} </div>
        <div> <span>published on {{ post.published_date }}</span> </div>
        <p>Tags:</p>
        <div>
            {% for tag in post.tags.all %}
                <a href="{% url "tag_posts" tag.slug  %}" target="_blank">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <br>
        <hr>
    {% empty %}
        <p>You have no posts yet</p>
    {% endfor %}
{% endblock content %}
